@charset "utf-8";
body{background:#edf0f5}
#wrap{width:100%; height:100%; padding-left:200px; box-sizing:border-box;}
/*--------------------------------------------------------header s-----------------------------------------------------------------------------------------------------*/
header{width:100%; height:57px; position:fixed; z-index:999;}
.header{width:100%; height:57px; background:#2d3539; position:fixed; left:0; }
.head_left{float:left;}
.head_left p{line-height:46px; margin-left:20px;}
.head_right{float:right; /*margin-right:10.5%;*/ position:relative;}
/*
	@media(max-width:1470px){
	.head_right{float:right; margin-right:16%;}
}
*/
.head_right ul{line-height:57px; position:relative;}
.head_right ul li{display:inline-block; margin-right:20px; color:#fff; font-size:11px;}
.head_right ul li a{color:#fff}
.head_right ul li.nav_button a{border:1px solid  transparent; display:inline; transition:all,.5s;}
.head_right ul li.nav_button:hover a{border:1px solid #fff; display:inline; padding:5px 10px;  transition:all,.5s;}
.head_right ul li a span.hostname{display:inline-block;  color:#fff; font-size:11px;}
.head_right ul li a span.shoping{display:inline-block; color:#fff; font-size:11px;}
.head_right ul li .id_detail{position:absolute; top:56px; left:130px; z-index:99999; background:white; width:100px; height:80px; text-align:center; border:2px solid #ccc; display:none;}
.head_right ul li .id_detail li{display:block; line-height:40px; margin:0;}
.head_right ul li .id_detail li i{margin-right:10px; font-size:14px;}
/*--------------------------------------------------------header e-----------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------로그인 header s-----------------------------------------------------------------------------------------------------*/
.login_bg{position: fixed;    z-index: 50;   top: 0px;    right: 0;     bottom: 0;     left: 0; 	width:100%;    background: url(/admin/images/bgfff.png) center no-repeat; 	background-size:cover;}
	
.login{position:fixed;z-index:200;top:0;bottom:0;left:0;right:0;background:url(/common/img/bg70.png);}
	.login > .top{ position:fixed; z-index:200; top:0; left:0; right:0; height:50px; border-top:2px solid #00c73c; background:#2d3539;}
	.login > .top > img{ float:left; margin:8px 0 0 20px; height:30px;}
	.login > .top > .home{ float:right; width:50px; height:50px; background:#00c73c;}
	.login > .top > .home img{ display:block; margin:18px auto;}

.login > .center{ position:absolute; left:50%; top:50%; margin:-165px 0 0 -200px; width:400px; height:300px; background:#f5f5f5; border-radius:5px; box-shadow:0 1px 5px 0 rgba(0,0,0,0.2); overflow:hidden;}
	.login > .center .top{ height:50px; background:#FFF; box-shadow:0 1px 2px 0 rgba(0,0,0,0.15);}
	.login > .center .top > .text{ height:50px; line-height:48px; font-size:18px; color:#333; text-align:center;}
	.login > .center .top > .text font{ color:#927c53;}
	
	.login > .center .bottom{ padding:40px 50px 60px 50px; overflow:hidden;}
	.login > .center .bottom > ul{ overflow:hidden;}
	.login > .center .bottom > ul > li{ float:left; margin-bottom:10px;}
	.login > .center .bottom > ul > li > p{ float:left; width:40px; height:30px; line-height:30px; font-size:13px; color:#666;}
	.login > .center .bottom > ul > li > input.text{ display:block; float:left; width:238px; height:28px; margin:0; padding:0 10px; border:1px solid #DDD; outline:none; line-height:28px; font-size:13px; color:#999; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
	.login > .center .bottom .btn{ width:300px; height:40px; margin:20px 0 0 0; background:#00c73c; border-radius:3px; line-height:38px; text-align:center; color:#FFF; cursor:pointer;}
/*--------------------------------------------------------로그인 header e-----------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------sidenav s-----------------------------------------------------------------------------------------------------*/
.sidenav{height: 100%; width: 200px;  position: fixed;  z-index: 1; top: 57px; left: 0;  background-color: #3f4b5c; overflow-x: hidden; overflow-y: hidden; transition: 0.5s; padding-top: 6px; }

.sidenav > a{padding: 16px 5px 16px 5px; text-decoration: none;  font-size: 13px; font-weight:bold;  color: #fff;  display:inline-block;  transition: 0.3s; width:150px;  margin-left:17px;}
.sidenav > ul{background:#445163;}
.sidenav > ul > li > a{padding: 16px 5px 16px 5px; text-decoration: none;  font-size: 14px; font-weight:bold;  color: #fff;  display:inline-block;  transition: 0.3s; width:150px; border-bottom:1px solid #515d6e; margin-left:17px; background:url('/daekwang/resources/img/navbtn_off.gif') no-repeat 140px 24px; line-height:1.5;}
.sidenav > ul > li > a.on{background:url('/daekwang/resources/img/navbtn_on.gif') no-repeat 140px 24px;}
.sidenav > ul > li > .nav_detail{background:#414958; width:100%; height:100%; padding:20px 0 20px 50px; display:none; transition:none;}
.sidenav > ul > li > .nav_detail li{padding-top:20px;}
.sidenav > ul > li > .nav_detail li:first-child{padding-top:0px;}
.sidenav > ul > li > .nav_detail li a{color:#949ca6; font-weight:bold; font-size:13px;}
.sidenav > ul > li > .nav_detail li a:hover{color:#00c749;}

.sidenav a.logo{font-size:35px; padding:50px 0; background:none;}
.sidenav a i{margin-right:15px; font-size:16px;}
.slideBtn {transition: .5s;  position: fixed;  left: 30px;  font-size:30px;  cursor:pointer;  margin-right:10px;}
/*--------------------------------------------------------sidenav e-----------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------container s-----------------------------------------------------------------------------------------------------*/
#container{width:100%; background:#edf0f5; padding-top:57px;}

.main_title{background:#fff; height:60px; line-height:60px; border:1px solid #dbdde2; margin-left:25px; margin-right:25px; box-sizing:border-box;}
.main_title p{ font-size:20px; color:#2d3539; padding-left:25px;}

.category_wrap{background:#fff; height:100%; border:1px solid #dbdde2; margin-left:25px; margin-right:25px; padding:12px 25px; box-sizing:border-box; margin-top:25px; overflow:hidden;}
.table_wrap{background:#fff; height:100%; border:1px solid #dbdde2; margin-left:25px; margin-right:25px; padding:12px 25px; box-sizing:border-box; margin-top:25px; overflow:hidden;}

.ul_form1{overflow:hidden; float:left;}
.ul_form1 li{float:left; margin-right:5px;}

.ul_form2{overflow:hidden; float:right;}
.ul_form2 li{float:left; margin-left:5px;}

.table_wrap > table{width:100%;}
.table_wrap > table > thead{}
.table_wrap > table > thead > tr{}
.table_wrap > table > thead > tr > th{height:37px; border:1px solid #dbdde2; background:#f8f9fd}
.table_wrap > table > thead > tr > th > input{vertical-align:middle;}
.table_wrap > table > tbody{}
.table_wrap > table > tbody > tr{}
.table_wrap > table > tbody > tr > td{text-align:center; border:1px solid #dbdde2; color:#6d6d6d; padding:5px;}
.table_wrap > table > tbody > tr > td p{width:500px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; text-align:center;}
.table_wrap > table > tbody > tr > td > img{height:40px; box-sizing:border-box; width:64px; vertical-align:middle;}
.table_wrap > table > tbody > tr > td > input{vertical-align:middle; }

.board_page{text-align:center; margin-top:50px;}
.board_page li{display:inline-block;}
.board_page li:first-child a{border:none;}
.board_page li:last-child a{border:none;}
.board_page li a{color:#636363; border:1px solid #a6a6a6; width:25px; height:25px; line-height:25px; text-align:center; }
.board_page li a.on{color:#00b5a6; border-color:#00b5a6; font-weight:bold;}

.writeform{    position: fixed;    z-index: 200;   top: 0;   bottom: 0;   left: 0;    right: 0;    background: url("/common/img/bg70.png"); }
/*--------------------------------------------------------container s-----------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------btn s-----------------------------------------------------------------------------------------------------*/
.selectform1{width:98px; height:35px; font-size:12px; box-sizing:border-box; border:1px solid #dbdde2; outline:0;     padding-left: 10px;    color: #666;    /* background: url("/common/img/exarrow.png") no-repeat 90% 50%;    -webkit-appearance: none;    -moz-appearance: none;    appearance: none; */}
.selectform1::-ms-expand {display: none;}

.selectform2{width:150px; height:35px; font-size:12px; box-sizing:border-box; border:1px solid #dbdde2; outline:0;     padding-left: 10px;    color: #666;    /* background: url("/common/img/exarrow.png") no-repeat 90% 50%;    -webkit-appearance: none;    -moz-appearance: none;    appearance: none; */}
.selectform2::-ms-expand {display: none;}

.inputform50{width:50px; height:35px; border:1px solid #dbdde2; box-sizing:border-box; outline:0; padding-left:10px; color:#666;}
.inputform50:active, .inputform50:focus{border:1px solid #00c73c}

.inputform100{width:100px; height:35px; border:1px solid #dbdde2; box-sizing:border-box; outline:0; padding-left:10px; color:#666;}
.inputform100:active, .inputform100:focus{border:1px solid #00c73c}

.inputform150{width:150px; height:35px; border:1px solid #dbdde2; box-sizing:border-box; outline:0; padding-left:10px; color:#666;}
.inputform150:active, .inputform150:focus{border:1px solid #00c73c}

.inputform200{width:200px; height:35px; border:1px solid #dbdde2; box-sizing:border-box; outline:0; padding-left:10px; color:#666;}
.inputform200:active, .inputform200:focus{border:1px solid #00c73c}

.inputform250{width:250px; height:35px; border:1px solid #dbdde2; box-sizing:border-box; outline:0; padding-left:10px; color:#666;}
.inputform250:active, .inputform250:focus{border:1px solid #00c73c}

.btnform1{width:125px; height:35px; box-sizing:border-box; color:#fff; border:1px solid #00ae34; background:#00c73c; text-align:center; line-height:35px; transition:all,.5s;}
.btnform1:hover{background:#00992e; transition:all,.5s;}

.btnform2{width:125px; height:35px; box-sizing:border-box; color:#fff; border:1px solid #575757; background:#636363; text-align:center; line-height:35px; transition:all,.5s;}
.btnform2:hover{background:#434343; transition:all,.5s;}

.btnform3{width:70px; height:35px; box-sizing:border-box; color:#fff; border:1px solid #00ae34; background:#00c73c; text-align:center; line-height:35px; transition:all,.5s;}
.btnform3:hover{background:#00992e; transition:all,.5s;}

.btnform4{width:70px; height:35px; box-sizing:border-box; color:#fff; border:1px solid #575757; background:#636363; text-align:center; line-height:35px; transition:all,.5s;}
.btnform4:hover{background:#434343; transition:all,.5s;}

.btnform5{width:42px; height:35px; box-sizing:border-box; color:#fff; border:1px solid #00ae34; background:#00c73c; text-align:center; line-height:35px; transition:all,.5s; display:inline-block;}
.btnform5:hover{background:#00992e; transition:all,.5s;}

.btnform6{width:42px; height:35px; box-sizing:border-box; color:#fff; border:1px solid #575757; background:#636363; text-align:center; line-height:35px; transition:all,.5s; display:inline-block;}
.btnform6:hover{background:#434343; transition:all,.5s;}


/* input[type='checkbox'] {display: none;}
input[type='checkbox'] + label::before{content: ' '; display: inline-block;  width: 20px;  height: 20px;  vertical-align: middle;  background: url('/common/img/checkbox_off.png'); transition:all, .5s}
input[type='checkbox']:checked + label::before{background: url('/common/img/checkbox_on.png'); transition:all, .5s}

input[type='radio'] {display: none;}
input[type='radio'] + label::before{content: ' '; display: inline-block;  width: 20px;  height: 20px;  vertical-align: middle;  background: url('/common/img/radio_off.png'); transition:all, .5s}
input[type='radio']:checked + label::before{background: url('/common/img/radio_on.png'); transition:all, .5s} */
/*--------------------------------------------------------btn e-----------------------------------------------------------------------------------------------------*/


.formbg{background:rgba(0,0,0,0.5); width:100%; height:100%; position:absolute; top:0; left:0; right:0; bottom:0; z-index:99; display:none}
.form_wrap{width:800px; position:absolute; top:50%; left:50%; transform:translateX(-50%) translateY(-50%); z-index:999; background:#fff; padding:20px; box-sizing:border-box; border:1px solid #ccc; display: none;}
.form_wrap p{font-size:20px; font-weight:bold; margin-bottom:10px;}
.form_wrap table{width:100%;}
.form_wrap table tbody{}
.form_wrap table tbody tr{}
.form_wrap table tbody tr td{border:1px solid #ccc; padding:10px 10px; color:#333;}
.form_wrap table tbody tr td:first-child{background:#f8f8f8}
.form_wrap table tbody tr td input{height:30px; width:100%; box-sizing:border-box; padding:0 10px; color:#333; border:1px solid #e1e1e1;}
.form_wrap table tbody tr td select{height:30px; width:100%; box-sizing:border-box; padding:0 10px; color:#333; border:1px solid #e1e1e1;}
.form_wrap table tbody tr td textarea{height:200px; width:100%; box-sizing:border-box; padding:0 10px; color:#333; border:1px solid #e1e1e1;}
.form_wrap ul{}
.form_wrap ul li{border:1px solid #ccc; padding:10px 10px; color:#333; border-bottom:0;}
.form_wrap ul li:last-child{border-bottom:1px solid #ccc; }
.form_wrap ul li label{width:60px; display:inline-block; vertical-align: top}
.form_wrap ul li img{width:100% !important; height:400px !important;}
.form_wrap ul li input{height:30px; width:91%; box-sizing:border-box; padding:0 10px; color:#333; border:1px solid #e1e1e1;}
.form_wrap ul li select{height:30px; width:91%; box-sizing:border-box; padding:0 10px; color:#333; border:1px solid #e1e1e1;}
.form_wrap ul li textarea{height:200px; width:91%; box-sizing:border-box; padding:5px 10px; color:#333; border:1px solid #e1e1e1;}
.form_wrap ul.list{text-align:center; margin-top:20px;}
.form_wrap ul.list li{display: inline-block; border:none;}
.form_wrap ul.list li a{cursor:pointer}


.form_wrap ul.photoooooooooooo{text-align:left; overflow: hidden;     overflow-y: auto;    height: 132px;}
.form_wrap ul.photoooooooooooo li{width:24%; margin-right:1%; float:left; box-sizing:border-box; border:1px solid #ccc;}
.form_wrap ul.photoooooooooooo li:nth-child(4n){margin:0;}
.form_wrap ul.photoooooooooooo li img{width:100% !important; height:100% !important; vertical-align: middle; box-sizing:border-box;}

.filebox input[type="file"]{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
	.filebox label {display: inline-block; padding: .5em .75em; color: #fff;  line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2;  color: #fff !important;    background-color: #314275; border-color: #2e6da4;     padding: 5px 8px;    font-weight: normal !important;    font-size: 12px !important;}
	.filebox .upload-name {display: inline-block; padding: .5em .75em; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #f5f5f5;  border: 1px solid #ebebeb;  border-bottom-color: #e2e2e2;  border-radius: .25em; -webkit-appearance: none;  -moz-appearance: none;  appearance: none; width:250px;}
	.filebox.bs3-primary label { color: #fff; background-color: #337ab7; border-color: #2e6da4;}

.management_wrap{background:#fff; height:100%; border:1px solid #dbdde2; margin-left:25px; margin-right:25px; padding:12px 25px; box-sizing:border-box; margin-top:25px; overflow:hidden;}
	.management_wrap table{width:100%;}
	.management_wrap table tbody{}
	.management_wrap table tbody tr{}
	.management_wrap table tbody tr td{border:1px solid #e1e1e1; padding:20px 10px; box-sizing:border-box; font-size:14px;}
	.management_wrap table tbody tr td img{width:300px; height:200px;}
	.management_wrap table tbody tr td:first-child{text-align: center;}
	.management_wrap table tbody tr td+td+td{text-align: center;}
	.management_wrap table tbody tr td input{width:100%; box-sizing:border-box; border:1px solid #00992e; padding: 10px;}

















