<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	
	<resultMap id="photoResultMap" type="Photo">
		<result property="BOARD_FG" column="BOARD_FG"/>
  		<result property="BOARD_NO" column="BOARD_NO"/>
  		<result property="DELETE_YN" column="DELETE_YN"/>
  		<result property="MEMBER_NO" column="MEMBER_NO"/>
  		<result property="PHOTO_DATE" column="PHOTO_DATE"/>
  		<result property="PHOTO_NO" column="PHOTO_NO"/>
  		<result property="PHOTO_ORNAME" column="PHOTO_ORNAME"/>
  		<result property="PHOTO_RENAME" column="PHOTO_RENAME"/>
	</resultMap>
	
	<resultMap id="memberResultMap" type="Member">
		<result property="MEMBER_NO" column="MEMBER_NO"/>
  		<result property="MEMBER_FG" column="MEMBER_FG"/>
  		<result property="MEMBER_ID" column="MEMBER_ID"/>
  		<result property="MEMBER_PWD" column="MEMBER_PWD"/>
  		<result property="MEMBER_NAME" column="MEMBER_NAME"/>
  		<result property="MEMBER_PHONE" column="MEMBER_PHONE"/>
  		<result property="MEMBER_EMAIL" column="MEMBER_EMAIL"/>
  		<result property="MEMBER_POSTCODE" column="MEMBER_POSTCODE"/>
  		<result property="MEMBER_ADDR" column="MEMBER_ADDR"/>
  		<result property="MEMBER_ADDR_DETAIL" column="MEMBER_ADDR_DETAIL"/>
  		<result property="MEMBER_ADDR_EXTRA" column="MEMBER_ADDR_EXTRA"/>
  		<result property="MEMBER_DETAIL" column="MEMBER_DETAIL"/>
  		<result property="MEMBER_USEYN" column="MEMBER_USEYN"/>
	</resultMap>
	
	<resultMap id="boardResultMap" type="Board">
		<result property="BOARD_FG" column="BOARD_FG"/>
  		<result property="BOARD_NO" column="BOARD_NO"/>
  		<result property="BOARD_TITLE" column="BOARD_TITLE"/>
  		<result property="BOARD_CONTENT" column="BOARD_CONTENT"/>
  		<result property="BOARD_READCNT" column="BOARD_READCNT"/>
  		<result property="MEMBER_NO" column="MEMBER_NO"/>
  		<result property="FIRST_INPUT_DATE" column="FIRST_INPUT_DATE"/>
  		<result property="RECENT_UPDATE_DATE" column="RECENT_UPDATE_DATE"/>
  		<result property="DELETE_YN" column="DELETE_YN"/>
  		<result property="REPLY_NO" column="REPLY_NO"/>
  		<result property="REPLY_BOARD_FG" column="REPLY_BOARD_FG"/>
  		<result property="REPLY_BOARD_NO" column="REPLY_BOARD_NO"/>
  		<result property="REPLY_CONTENT" column="MEMBER_USEREPLY_CONTENTYN"/>
  		<result property="REPLY_MEMBER_NO" column="REPLY_MEMBER_NO"/>
  		<result property="REPLY_DATE" column="REPLY_DATE"/>
  		<result property="REPLY_DELETE_YN" column="REPLY_DELETE_YN"/>
  		<collection property="memberVo" resultMap="memberResultMap"/>
  		<collection property="photoVo" resultMap="photoResultMap"/>
	</resultMap>
	
	<!-- 교우소식 게시판 리스트 -->
	<select id="personNewsList" resultMap="boardResultMap">
		SELECT A.*, B.MEMBER_NAME
		FROM board A, member B
		WHERE A.MEMBER_NO = B.MEMBER_NO
		AND A.BOARD_FG = 2
		AND A.DELETE_YN = 'N'
		ORDER BY BOARD_NO DESC
		LIMIT 0, #{endRow}
	</select>
	
	<!-- 교우소식 게시판 리스트 총 갯수 -->
	<select id="listCount" resultType="Integer">
		SELECT COUNT(*)
		FROM board A, member B
		WHERE A.MEMBER_NO = B.MEMBER_NO
		AND A.BOARD_FG = 2
		AND A.DELETE_YN = 'N'
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 교회소식 게시판 리스트 -->
	<select id="churchNewsList" resultMap="boardResultMap">
		SELECT A.*, B.MEMBER_NAME
		FROM board A, member B
		WHERE A.MEMBER_NO = B.MEMBER_NO
		AND A.BOARD_FG = 1
		AND A.DELETE_YN = 'N'
		<if test="searchContent != NULL and searchContent != ''">
			<if test="searchSelect eq '1'.toString()">
			AND A.BOARD_TITLE LIKE CONCAT('%', #{searchContent}, '%') OR A.BOARD_CONTENT LIKE CONCAT('%', #{searchContent}, '%')
			</if>
			<if test="searchSelect eq '2'.toString()">
			AND A.BOARD_TITLE LIKE CONCAT('%', #{searchContent}, '%')
			</if>
			<if test="searchSelect eq '3'.toString()">
			AND A.BOARD_CONTENT LIKE CONCAT('%', #{searchContent}, '%')
			</if>
			<if test="searchSelect eq '4'.toString()">
			AND B.MEMBER_NAME LIKE CONCAT('%', #{searchContent}, '%')
			</if>
		</if>
		ORDER BY BOARD_NO DESC
		LIMIT #{startRow}, #{endRow}
	</select>
	
	<!-- 교회소식 게시판 리스트 총 row 갯수 -->
	<select id="countChurchNews" resultType="Integer">
		SELECT COUNT(*)
		FROM board A, member B
		WHERE A.MEMBER_NO = B.MEMBER_NO
		AND A.BOARD_FG = 1
		AND A.DELETE_YN = 'N'
		<if test="searchContent != NULL and searchContent != ''">
			<if test="searchSelect eq '1'.toString()">
			AND A.BOARD_TITLE LIKE CONCAT('%', #{searchContent}, '%') OR A.BOARD_CONTENT LIKE CONCAT('%', #{searchContent}, '%')
			</if>
			<if test="searchSelect eq '2'.toString()">
			AND A.BOARD_TITLE LIKE CONCAT('%', #{searchContent}, '%')
			</if>
			<if test="searchSelect eq '3'.toString()">
			AND A.BOARD_CONTENT LIKE CONCAT('%', #{searchContent}, '%')
			</if>
			<if test="searchSelect eq '4'.toString()">
			AND B.MEMBER_NAME LIKE CONCAT('%', #{searchContent}, '%')
			</if>
		</if>
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 교회소식 게시물 insert -->
	<insert id="insertChurchNews" parameterType="Board">
		INSERT INTO board(BOARD_FG, BOARD_TITLE, BOARD_CONTENT, MEMBER_NO, FIRST_INPUT_DATE, RECENT_UPDATE_DATE)
		VALUES(1, #{BOARD_TITLE}, #{BOARD_CONTENT}, #{MEMBER_NO}, NOW(), NOW())
	</insert>
	
	<!-- 교회소식 디테일 페이지 게시물 조회 -->
	<select id="selectChurchNewsDetail" resultMap="boardResultMap">
		SELECT A.*, B.MEMBER_NAME
		FROM board A, member B
		WHERE A.MEMBER_NO = B.MEMBER_NO
		AND A.BOARD_FG = 1
		AND A.DELETE_YN = 'N'
		AND A.BOARD_NO = #{BOARD_NO}
	</select>
	
	<!-- 교회 소식 게시물 조회수 + 1  -->
	<update id="addChurchNewsReadCount" parameterType="Integer" >
		UPDATE board
		SET BOARD_READCNT = BOARD_READCNT + 1
		WHERE BOARD_NO = #{BOARD_NO}
	</update>
	
	<!-- 새가족 소개 게시물 board에 insert -->
	<insert id="insertNewFamilyIntroducingBoard">
		INSERT INTO board(BOARD_FG, BOARD_TITLE, BOARD_CONTENT, MEMBER_NO, FIRST_INPUT_DATE, RECENT_UPDATE_DATE)
		VALUES(4, #{BOARD_TITLE}, #{BOARD_CONTENT}, #{MEMBER_NO}, NOW(), NOW())
	</insert>
	
	<!-- photo에 새가족 소개 insert 하기 위한 board_no 조회 --> 
	<select id="selectBoardInformation" parameterType="Integer" resultType="Integer">
		SELECT BOARD_NO
		FROM board
		WHERE MEMBER_NO = #{MEMBER_NO}
		AND BOARD_FG = 4
		ORDER BY FIRST_INPUT_DATE DESC
		LIMIT 0, 1
	</select>
	
	<!-- 새가족 소개 게시물 photo에 insert -->
	<insert id="insertNewFamilyIntroducingPhoto">
		INSERT INTO photo(PHOTO_DATE, PHOTO_ORNAME, PHOTO_RENAME, BOARD_FG, BOARD_NO, MEMBER_NO)
		VALUES(NOW(), #{PHOTO_ORNAME}, #{PHOTO_RENAME}, 4, #{BOARD_NO}, #{MEMBER_NO})
	</insert>
	
	<!-- 새가족 소개 게시판 리스트 조회 -->
	<select id="newFamilyIntroducing" resultMap="boardResultMap">
		SELECT A.*, B.*
		FROM board A, photo B
		WHERE A.BOARD_NO = B.BOARD_NO
		AND A.BOARD_FG = 4
		AND A.DELETE_YN = 'N'
		AND B.DELETE_YN = 'N'
		ORDER BY A.BOARD_NO DESC
	</select>
	
	<!-- 꽃꽂이 갤러리 리스트 조회 -->
	<select id="flowerPhotoList" resultMap="boardResultMap">
		SELECT A.*, B.*
		FROM board A, photo B
		WHERE A.BOARD_NO = B.BOARD_NO
		AND A.BOARD_FG = 5
		AND A.DELETE_YN = 'N'
		AND B.DELETE_YN = 'N'
		ORDER BY A.BOARD_NO DESC
	</select>
	
	<!-- 꽃꽂이 갤러리 게시물 board에 insert -->
	<insert id="insertFlowerPhotoBoard">
		INSERT INTO board(BOARD_FG, BOARD_TITLE, BOARD_CONTENT, MEMBER_NO, FIRST_INPUT_DATE, RECENT_UPDATE_DATE)
		VALUES(5, #{BOARD_TITLE}, #{BOARD_CONTENT}, #{MEMBER_NO}, NOW(), NOW())
	</insert>
	
	<!-- photo에 꽃꽂이 갤러리 insert 하기 위한 board_no 조회 --> 
	<select id="selectFlowerPhotoBoardInformation" parameterType="Integer" resultType="Integer">
		SELECT BOARD_NO
		FROM board
		WHERE MEMBER_NO = #{MEMBER_NO}
		AND BOARD_FG = 5
		ORDER BY FIRST_INPUT_DATE DESC
		LIMIT 0, 1
	</select>
	
	<!-- 꽃꽂이 갤러리 게시물 photo에 insert -->
	<insert id="insertFlowerPhotoPhoto">
		INSERT INTO photo(PHOTO_DATE, PHOTO_ORNAME, PHOTO_RENAME, BOARD_FG, BOARD_NO, MEMBER_NO)
		VALUES(NOW(), #{PHOTO_ORNAME}, #{PHOTO_RENAME}, 5, #{BOARD_NO}, #{MEMBER_NO})
	</insert>
</mapper>
