<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nextGenerationMapper">
	
	<resultMap id="nextGenerationResultMap" type="NextGeneration">
		<result property="DEPT_NO" column="DEPT_NO"/>
  		<result property="DEPT_NAME" column="DEPT_NAME"/>
  		<result property="EDU_TITLE" column="EDU_TITLE"/>
  		<result property="MAIN_WORDS" column="MAIN_WORDS"/>
  		<result property="WORSHIP_OBJECT" column="WORSHIP_OBJECT"/>
  		<result property="WORSHIP_TIME" column="WORSHIP_TIME"/>
  		<result property="WORSHIP_AREA" column="WORSHIP_AREA"/>
  		<result property="DEPT_VISION" column="DEPT_VISION"/>
  		<result property="DEPT_MISSION" column="DEPT_MISSION"/>
  		<result property="DEPT_LEADER" column="DEPT_LEADER"/>
  		<result property="DEPT_HEADER" column="DEPT_HEADER"/>
  		<result property="DEPT_DIRECTOR" column="DEPT_DIRECTOR"/>
  		<result property="DEPT_BUDIRECTOR" column="DEPT_BUDIRECTOR"/>
  		<result property="DEPT_MANAGER" column="DEPT_MANAGER"/>
  		<result property="DEPT_WRITER" column="DEPT_WRITER"/>
  		<result property="DEPT_ACCOUNTANT" column="DEPT_ACCOUNTANT"/>
  		<result property="DEPT_MEMBER" column="DEPT_MEMBER"/>
  		<result property="DEPT_PHOTO_ORNAME" column="DEPT_PHOTO_ORNAME"/>
  		<result property="DEPT_PHOTO_RENAME" column="DEPT_PHOTO_RENAME"/>
  		<result property="DEPT_UPLOAD_YYMM" column="DEPT_UPLOAD_YYMM"/>
	</resultMap>
	
	<!-- 다음세대 유아부~고등부 정보 --> 
	<select id="selectNextGenerationList" resultMap="nextGenerationResultMap" resultType="list">
		SELECT *
		FROM next_gen
		WHERE DEPT_NO BETWEEN 1 AND 6 
	</select>
	
	<!-- 다음세대 1,2 청년부 정보 -->
	<select id="selectNextGenerationYouthList" resultMap="nextGenerationResultMap" resultType="list">
		SELECT *
		FROM next_gen
		WHERE DEPT_NO IN (7,8)
	</select>
</mapper>
