@charset "UTF-8";

#header{width:100%; height:100%; position:relative;}
	.header_top_wrap{width:100%: height:48px; overflow:hidden; max-width:1170px;}
	.header_top_wrap .head_top_left{float:left;}
	.header_top_wrap .head_top_left a{}
	.header_top_wrap .head_top_left a img{}
	
	.header_top_wrap .head_top_right{float:right}
	.header_top_wrap .head_top_right a{}
	

