<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.or.daekwang.admin.model.vo.AdminVo" alias="Admin" />
		<typeAlias type="kr.or.daekwang.apply.model.vo.ApplyVo" alias="Apply" />
		<typeAlias type="kr.or.daekwang.board.model.vo.BoardVo" alias="Board" />
		<typeAlias type="kr.or.daekwang.member.model.vo.MemberVo" alias="Member" />
		<typeAlias type="kr.or.daekwang.sermonAndPraise.model.vo.SermonAndPraiseVo" alias="SermonAndPraise" />
		<typeAlias type="kr.or.daekwang.nextGeneration.model.vo.NextGenerationVo" alias="NextGeneration" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/nextGenerationMapper.xml" /> 
		<mapper resource="mappers/sermonAndPraiseMapper.xml" /> 
		<mapper resource="mappers/memberMapper.xml" /> 
	</mappers>
</configuration>